:root {
    --bg-main: #f5ede2;
    --border: #e0d6c9;
    --accent: #c8a97e;
    --accent-dark: #a68563;
    --text-main: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
    }
}