:root {
    --bg-main: #f5ede2;
    --border: #e0d6c9;
    --accent: #c8a97e;
    --accent-dark: #a68563;
    --text-main: #333;
    --secondary-text-color: #444;
    --secondary-bg-color: #fff;
    --file-bg-color: #fdfaf6;
    --input-bg-color: #fff;
    --button-bg-color: #c8a97e;
    --button-bg-color-hover: #a68563;
}

[data-theme="dark"] {
    --bg-main: #1f2028;        
    --border: #3a322a;         
    --accent: #d6b37a;         
    --accent-dark: #b9945c;    
    --text-main: #f5ede2;
    --secondary-text-color: #b9945c;
    --secondary-bg-color: #2e3039;
    --file-bg-color: #24252d;
    --input-bg-color: #23242d;
    --button-bg-color: #b9945c;
    --button-bg-color-hover: #b08543;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
    }
}