.card-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

h2 {
    text-align: center;
    font-weight: 600;
    color: var(--secondary-text-color);
    width: 100%;
}

@media (max-width: 600px) {
    .card-list {
        grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
        gap: 12px;
    }
}